body{
    background-color: white;
}


.handle {
    width: 20px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 5px;
    left: calc(50% - 10px);
}

.traffic-light{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    width:10rem;
    background-color: black;
    border-radius: 1rem;
    padding: 1rem;
    position:relative;
}

.circle {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin: auto;
    transition: all 0.5s ease;
}

.red {
    background-color: #ff4136;
}
  
.yellow {
    background-color: #ffdc00;
}
  
.green {
    background-color: #2ecc40;
}